[tools]
java = "temurin-17"
node = "20"
mill = "1.0.6"
git-cliff = "latest"

[tasks]
build = { run = "./mill -i __.compile", description = "Build all modules" }
test = { run = "./mill -i __.test", description = "Run all tests" }
"test:unit" = { run = "./mill -i plugin.test.test", description = "Run unit tests" }
"test:it" = { run = "./mill -i itest.test", description = "Run integration tests" }
clean = { run = "./mill -i clean", description = "Clean build artifacts" }


