name: ci

on:
  push:
    branches:
      - main
  pull_request:
    paths-ignore:
      - 'README.md'

env:
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

jobs:
  style-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: coursier/cache-action@v6
    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Check formatting
      run: 
        ./mill -i __.checkFormat


  test:
    runs-on: 'ubuntu-latest'
    strategy:
      fail-fast: false
      matrix:
        java: ['17', '21']

    steps:
    - uses: actions/checkout@v4
    - uses: coursier/cache-action@v6
    - uses: jdx/mise-action@v2
    - name: Install test dependencies
      run:
        npm install -g morphir-elm

    - name: Compile
      run:
        ./mill -i __.compile

    - name: Test
      run:
        ./mill -i __.test