name: Release
on:
  push:
    branches:
      - main
    tags: ["*"]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install test dependencies
        run:
          npm install -g morphir-elm
      - name: Publish to Sonatype
        run: |
          export MILL_PGP_SECRET_BASE64=$(echo "$MILL_PGP_SECRET_BASE64_RAW" | tr -d '\n\r ')
          ./mill -i __.publishSonatypeCentral
        env:
          MILL_SONATYPE_PASSWORD: ${{ secrets.ELEVEN19_SONATYPE_PASSWORD }}
          MILL_SONATYPE_USERNAME: ${{ secrets.ELEVEN19_SONATYPE_USERNAME }}
          MILL_PGP_PASSPHRASE: ${{ secrets.ELEVEN19_IO_PGP_PASSPHRASE }}
          MILL_PGP_SECRET_BASE64_RAW: ${{ secrets.ELEVEN19_IO_PGP_SECRET_BASE64 }}